.square {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 2px solid #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .square:hover {
    background-color: #93d4e7;
    color: #fff;
  }
  